$accent: #fbd46d;
$secondary: #07689f;

*, *::before, *::after{
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}
body{
  font-family: 'Courier New';
}
input::placeholder{
  font-family: 'Courier New';
}

.wrapper{
  max-width: 768px;
  background-color: #a2d5f2;
  margin: 50px auto 0 auto;
  min-height: 400px;
  overflow: hidden;
  padding-bottom: 30px;
}
.banner{
  position: relative;
  height: 200px;
}
.today-bg{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: $accent;
  position: absolute;
  top: -50px;
  left: -40px;
}
.today{
  font-size: 55px;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
}
.today-block{
  position: absolute;
  top: 73px;;
  left: 72px;
}
.add-todo-block{
  display: flex;
  justify-content: center;
}
.add-todo{
  background-color: transparent;
  border: none;
  width: 80%;
  font-size: 18px;
  padding: 10px;
  outline: none;
  border: 2px solid #07689f1f;
  border-radius: 5px;
}
.add-todo:focus{
  border: 2px solid $secondary;
  border-radius: 5px;
}

.todo-block{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.todo-item{
  display: flex;
  position: relative;
  padding: 12px 9px;
  border-radius: 5px;
  transition: all 0.3s;
  &:hover{
    background-color: #c6e2f3;
  }
}
.todo-item.item-done:hover{
  background-color: transparent;
}
.todo-item-check{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000000;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.todo-item.item-done .todo-item-check{
  background-color: $accent;
}

.todo-item.item-done .todo-item-check::before{
  content: "\2713";
  font-size: 25px;
  font-family: Arial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.todo-item-content{
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  padding: 0 10px;
}
.todo-item.item-done .todo-item-content::before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.todo-item-delete::before{
  content: '\2718';
  font-size: 25px;
  font-family: Arial;
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}






