*, *::before, *::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
html, body {
  font-family: Questrial, "Microsoft JhengHei", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 84px;
}
.logo-text {
  display: block;
  font-size: 2.25rem;
  color: #489846;
  margin-top: 26px;
}
.menu {
  display: flex;
  margin-top: 20px;
}
.menu-item {
  display: block;
  font-size: 1.125rem;
  color: #010101;
  width: 120px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 8px;
  transition: all 0.3s;
  &:hover {
    color: #fefefe;
    background-color: #ff7286;
  }
}

.banner {
  height: 580px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/2.png);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  .banner-text {
    color: #ffffff;
    font-size: 3.75rem;
  }
}

.index-title {
  font-size: 2.25rem;
  color: #000000;
  font-weight: bold;
  margin-bottom: 39px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  &::before {
    content: "";
    width: 15px;
    height: 38px;
    background-color: #a3dea2;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -32px;
  }
}
.section-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  margin-bottom: 121px;
}
.intro-text {
  color: #000000;
  font-size: 1rem;
  &:nth-child(2), &:nth-child(3) {
    margin-bottom: 21px;
  }
}
.index-ordering {
  margin-top: 84px;
  display: flex;
}
.order-button {
  display: block;
  width: 300px;
  height: 160px;
  font-size: 2.25rem;
  letter-spacing: 0.32px;
  color: #3e613d;
  border-radius: 10px;
  text-align: center;
  line-height: 160px;
  transition: all 0.5s;
  &:nth-child(1) {
    background-color: #a8e8e1;
    margin-right: 11.5px;
  }
  &:nth-child(1):hover {
    background-color: #97d0ca;
  }
  &:nth-child(2) {
    background-color: #f9f9b5;
    margin-left: 11.5px;
  }
  &:nth-child(2):hover {
    background-color: #e2e2a5;
  }
}

.food-menu {
  margin-bottom: 82px;
}
.food-menu-list {
  display: flex;
}

.review {
  margin-bottom: 90px;
}
.review-title {
  margin-bottom: 98px;
}
.review-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.review-list-item {
  width: 33%;
  border: 1px solid #c7e5ec;
  border-radius: 5px;
  padding-bottom: 39px;
}
.reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -54px;
  margin-bottom: 23px;
  .reviewer-photo {
    width: 105px;
    height: 105px;
    margin-bottom: 5px;
  }
}
.review-content {
  margin: 0 24px;
  text-align: center;
  letter-spacing: 0.14px;
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
}

.map {
  margin-bottom: 43px;
  .google-map {
    width: 100%;
  }
}


.footer {
  padding-top: 44px;
  background-color: #e8efee;
  .footer-text {
    color: #484848;
    font-size: 0.875rem;
  }
  .footer-text:nth-child(1), .footer-text:nth-child(2), .footer-text:nth-child(3) {
    margin-bottom: 16px;
  }
  .footer-text:nth-child(4) {
    margin-bottom: 39px;
  }
  .email-link{
    text-decoration: none;
  }
  .copyright {
    background-color: #35564b;
    padding: 15px 0;
  }
  .copyright-text {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
  }
}



