/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px 15px;
}

.site-name {
  font-size: 30px;
}

.games-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.games-list__item {
  padding: 0 15px;
  line-height: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.games-list__item:hover {
  cursor: pointer;
  background-color: #3c415e;
  color: #ffffff;
}

.game-block {
  background-color: #738598;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  min-height: 100vw;
}

.game-block__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.game-block__text {
  font-size: 20px;
  margin-bottom: 30px;
}

.streams-list {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.streams-list__item {
  width: 30%;
  height: 200px;
  border: 1px solid #3c415e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0.7% 15px 0.7%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.streams-list__item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.3);
}

.stream-banner {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.stream-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3c415e;
  padding: 8px;
  height: 60px;
}

.stream-info__logo {
  width: 50px;
  height: 50px;
  margin-right: 4%;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.stream-info__content {
  width: 76%;
}

.description {
  margin-bottom: 10px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  font-size: 14px;
}
/*# sourceMappingURL=all.css.map */